*{
    margin: 0px;
    padding: 0px;
}

body {
    background: url("../images/fonto_costa_rica.png") no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

nav ul li:first-child{
    margin-left: 1000px;
}

nav ul li a {
    text-decoration: none;
    color: red;
}

nav ul li a:hover {
    text-decoration: none;
    color: blue;
}

#encabezado {
    text-align: center;
    margin-top: 100px;
}

#encabezado h1 {
    font-size: 40px;
}

#encabezado p {
    padding: 30px;
    font-size: 30px;
}

#candidatos{
    border: 1px solid;
    width: 70%;
    margin: 200px auto;
}

#candidatos img {
    width: 300px;
    margin: 0 auto;
}

#candidatos tr {
    text-align: center;
}

#resultados{
    border: 1px solid;
    width: 70%;
    margin: 200px auto;
}

#resultados img {
    width: 300px;
    margin: 0 auto;
}

#resultados tr {
    text-align: center;
    font-size: 20px;
    text-decoration:solid;
}

#resultados tr th {
    background-color: black;
    color: white;
    padding: 10px;
}

#resultados tr th a {
    color: white;
    text-decoration: none;
}

ol {
    text-align: center;
    font-size: 40px;
    list-style: none;
}

ol li {
    margin: 20px;
    margin-bottom: 40px;
}

ol li a {
    text-decoration: none;
}

footer {
    background-color: #020773;
    padding: 50px;
}

footer p {
    font-size: 20px;
    text-align: center;
    color: white;
}